$background-color: #121212; // Темный фон
$surface-color: #1E1E1E; // Чуть светлее подложка
$card-color: #252525; // Светлее элементы на подложке
$primary-color: #00BFA6; // Мятный цвет
$secondary-color: #CFD8DC; // Светло-серый для контрастности
$text-color: #ECEFF1; // Белый текст

.theme--dark.v-application {
  background-color: $background-color;
  color: $text-color;
}

.v-btn {
  border: 2px solid $primary-color;
  color: $text-color;
}

.v-card {
  background-color: $card-color;
  color: $text-color;
}
